firebase_admin
streamlit
streamlit_option_menu
openai



# Repo Structure
# SEDRAH-HACKATHON-OFIN/
# │
# ├── streamlit_app/
# │   ├── app.py            # Streamlit application code
# │   ├── requirements.txt  # Dependencies for the Streamlit app
# │   └── assets/           # Directory for static assets (images, GIFs, etc.)
# │
# ├── model/
# │   ├── model.pkl         # Serialized machine learning model
# │   ├── train_model.py    # Code for training the machine learning model
# │   └── requirements.txt  # Dependencies for training the model
# │
# ├── data/
# │   ├── dataset.csv       # Sample dataset for training the model
# │   └── preprocessing.py  # Code for preprocessing the dataset
# │
# └── README.md    